<table class="table-bordered table-striped table">
    <tr>
        <th>fqdn</th>
        <th>title</th>
    </tr>
    <% @hosts.each do |item| %>
    <tr>
        <td><%= link_to item.fqdn, host_path(item), :title => 'edit host'  %></td>
        <td><%= item.title %></td>
    </tr>
    <% end %>
</table>
