<table class="table-bordered table-striped table">
    <tr>
        <th> <%= link_to 'New Host', new_host_path %> </th>
    </tr>
</table>

<table class="table-bordered table-striped table">
    <tr>
        <th colspan=3 > Hosts List </th>
    </tr>
    <% unless @hosts.empty? %>
    <tr>
        <th>fqdn</th>
        <th>title</th>
        <th>enabled</th>
    </tr>
    <% @hosts.each do |item| %>
    <tr>
        <td><%= link_to item.fqdn, host_path(item), :title => 'edit host'  %></td>
        <td><%= item.title %></td>
        <td><%= item.enabled %></td>
    </tr>
    <% end %>
    <% else %>
    <tr>
        <td colspan=3 >0 hosts found</td>
    </tr>
    <% end %>
</table>
