 <script>
    var source = new EventSource('/reports/<%= @schema[:report][:report_id] %>/stat/');
    source.addEventListener("stat", function(e) {
      var data = JSON.parse(e.data);
      document.getElementById(data.stat_id).innerHTML = data.value + ' (' + data.relative_time + ' ) ';
      // alert(data.value)
    }, false);

  </script>

 <script>
    var source = new EventSource('/reports/<%= @schema[:report][:report_id] %>/sync/');
    source.addEventListener("sync", function(e) {
      var data = JSON.parse(e.data);
      console(data)
    }, false);

  </script>

<table class="table-bordered table-striped table">
    <% i = 0 %>
    <tr>
<% @schema[:schema].each do |h| %>
     <% h[:metrics].each do |m| %> 
     <td id="<%= m[:stat_id] %>"></td>
         <% i += 1 %>
         <% if i >= 9 %>
            <% i = 0 %>
            </tr><tr>
        <% end %>
     <% end %>
<% end %>
</tr>
</table>
