 <script>
    var source = new EventSource('/reports/<%= @schema[:report][:report_id] %>/stat/?image_id=<%= @schema[:report][:image_id] %>');
    source.addEventListener('stat', function(e) {
      var data = JSON.parse(e.data);
      document.getElementById(data.stat_id).innerHTML = data.value;
      // alert(data.value)
    }, false);

  </script>

<table class="table-bordered table-striped table">
    <% i = 0 %>
    <tr>
<% @schema[:schema].each do |h| %>
     <% h[:metrics].each do |m| %> 
     <td id="<%= m[:stat_id] %>"></td>
     <% i += 1 %>
     <%= "#{ i >= 9 ? raw('</tr><tr>') : ''  }" %>   
         <% if i >= 9 %>
            <% i = 0 %>
        <% end %>
     <% end %>
<% end %>
</tr>
</table>
