<table class="table-striped table-bordered table">
<tr>
    <th colspan=1>Report Data</th>
</tr>
<tr>
    <th>Title</th>
</tr>

<tr>
    <td><%= @report.title %></td>
</tr>
</table>


<%- metrics = [] %>
<%- seen = {} %>
<% @report.hosts.each do |h| %>
    <% h.stat.keys.each do |m| %>
        <% unless seen.has_key? "#{m}"
            <% metrics << ["#{m}"] %>
            <% seen["#{m}"] = 1 %>
        <% end %>
    <% end >
<% end %>

<table class="table-bordered table-striped table">
<tr>
    <th colspan=2 >Hosts</th>
</tr>
<% if @report.has_hosts? %>
<tr>
    <th>Host</th>
    <% metrics. %>
    <% end %>
    <th>Actions</th>
</tr>

<%- list = [] %>
<% @report.hosts.each do |h| %>
    <% list << { :host => h, :point => @report.point(h.id) } %>
<% end %>

<% list.each do |i| %>
    <tr>
        <td> 
            <%= link_to  i[:host].fqdn, host_path(i[:host]), :title => 'show host data'  %>
        </td>
        <td>
            <%= link_to 'remove', point_path(i[:point]), :method => :delete, :title => 'remove this host from report' %>
        </td>
    </tr>
<% end %>
</table>
<% else %>
    <tr>
        <td colspan=7 > 0 hosts found</td>
    </tr>
<% end %>

