<table class="table-striped table-bordered table">
<tr>
    <th>Report Title</th>
</tr>
<tr>
    <td><strong><%= link_to @report.title, report_path(@report), :title => 'edit report attributes'  %></strong></td>
</td>
</tr>
</table>


<table class="table-bordered table">

    
    <% @stats.each do  |i| %>
    <tr>
        <td>
            <%= i %>
        </td>
    <tr>    
    <% end %>
</table>

