<table class="table-bordered table-striped table">
    <tr>
        <th>title</th>
        <th>command</th>
        <th>default value</th>
    </tr>
    <% @metrics.each do |item| %>
    <tr>
        <td><%= link_to item.title, edit_metric_path(item), :title => 'edit metric'  %></td>
        <td><%= item.command %></td>
        <td><%= item.default_value %></td>
    </tr>
    <% end %>
</table>
